@charset "UTF-8";
#tarifasPromos .tarifas h2 {
  line-height: 1.5em;
  font-size: 2.5em;
}

#tarifasPromos .ropa, #tarifasPromos .tarifas p {
  line-height: 1.3em;
  font-size: 1.3em;
}

#tarifasPromos .cotizacion div a {
  font-weight: 900;
  text-decoration: none;
  list-style: none;
}

#tarifasPromos .promociones div, #tarifasPromos .horarios, #tarifasPromos .infoRopa div li, #tarifasPromos .infoRopa div p, #tarifasPromos .infoRopa {
  margin-left: 10px;
  margin-bottom: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*** HEADER ***/
.navbar {
  display: none;
}

header {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 30px;
}
header .barraNavegacion {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
header .barraNavegacion img {
  width: 100px;
}
header .barraNavegacion h1 {
  font-size: 45px;
  color: antiquewhite;
}
header .enlaces {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
header .enlaces li {
  display: flex;
  margin: 0 20px;
  font-weight: 700;
}
header .enlaces li a {
  text-decoration: none;
  color: antiquewhite;
}
header .enlaces li a:hover {
  color: brown;
}

.container-fluid {
  display: flex;
  background-color: grey;
  color: antiquewhite;
}
.container-fluid a {
  color: antiquewhite;
}
.container-fluid a:hover {
  color: brown;
}
.container-fluid img {
  width: 100px;
}

body {
  font-family: "Roboto Slab", serif;
  font-size: 21px;
  text-decoration: none;
  list-style-type: none;
  background-color: rgb(255, 218, 172);
  color: black;
}

footer {
  background-color: black;
  color: antiquewhite;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px 0;
}
footer .footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer__info h4 {
  padding: 5px;
  margin: 0px;
}
footer .footer__info p {
  text-align: center;
  padding: 5px;
  margin: 0px;
}
footer .footer__info ul {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 10px;
}
footer .footer__info ul li img {
  padding: 5px;
  width: 65px;
}

.portada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portada h3 {
  text-align: center;
  padding: 5px;
}
.portada .Mox {
  text-align: center;
}
.portada p {
  padding: 5px;
  text-align: center;
  margin-bottom: 15px;
}

.imagenes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
}
.imagenes img {
  height: 650px;
  width: 50%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px;
}
.video iframe {
  height: 550px;
  width: 75%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.Nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Nosotros h3 {
  margin-bottom: 10px;
  margin-top: 10px;
}
.Nosotros p {
  text-align: center;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.Nosotros img {
  width: 97%;
  height: 800px;
  padding-left: 10px;
  padding-right: 10px;
}

.cabaña1 {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 15px;
}
.cabaña1 .descripcionCabaña {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cabaña1 .descripcionCabaña p {
  padding: 30px;
}
.cabaña1 img {
  padding: 10px;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.cabaña2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.cabaña2 .descripcionCabaña {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cabaña2 .descripcionCabaña p {
  padding: 30px;
}
.cabaña2 img {
  padding: 10px;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.Habitaciones {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
}
.Habitaciones h2 {
  line-height: 1.5em;
  font-size: 2.5em;
}
.Habitaciones p {
  line-height: 1.3em;
  font-size: 1.3em;
}

.suite {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
.suite .suiteMatrimonial {
  display: flex;
  align-items: start;
  flex-direction: row-reverse;
  width: 100%;
  padding-bottom: 25px;
}
.suite .suiteMatrimonial img {
  width: 50%;
}
.suite .atardecer {
  height: 450px;
  width: 800px;
}
.suite .suiteInfo {
  padding: 45px;
  margin-top: 50px;
  width: 50%;
}
.suite .suiteInfo h4 {
  font-size: 1.5em;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}
.suite .suiteInfo p {
  margin-bottom: 25px;
}
.suite .suiteInfo a {
  font-weight: 900;
  text-decoration: none;
  list-style: none;
  color: black;
  border-bottom: 1px solid gray;
}
.suite .suiteInfo a:hover {
  color: brown;
}

.NOTA {
  border: 5px solid darkred;
  font-weight: bolder;
  margin-top: 35px;
}

.tituloServicio {
  line-height: 1.5em;
  font-size: 2.5em;
  text-align: center;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.servicios {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.servicios .serviciosIncluidos {
  display: flex;
  flex-direction: column;
  list-style: square;
  margin-bottom: 10px;
}
.servicios .serviciosIncluidos p {
  font-weight: bolder;
}

.llegar {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100%;
}

.llegar iframe {
  margin: 0 65px;
  border-radius: 10px;
}

.estamos {
  width: 70%;
}

.asideContacto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.asideImage {
  width: 250px;
  height: 200px;
  padding: 5px 0px;
  margin-right: 5px;
}

#tarifasPromos {
  display: flex;
}
#tarifasPromos .tarifas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
}
#tarifasPromos .tarifas p {
  margin-bottom: 10px;
}
#tarifasPromos .cotizacion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
}
#tarifasPromos .cotizacion div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 15px;
}
#tarifasPromos .cotizacion div h4 {
  font-size: 1.5em;
  margin-bottom: 15px;
}
#tarifasPromos .cotizacion div p {
  font-weight: 900;
  margin-bottom: 15px;
}
#tarifasPromos .cotizacion div a {
  margin-bottom: 20px;
  color: green;
}
#tarifasPromos .cotizacion div a:hover {
  color: brown;
}
#tarifasPromos .ropa {
  margin-bottom: 24px;
  margin-left: 10px;
  margin-top: 20px;
}
#tarifasPromos .infoRopa {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#tarifasPromos .infoRopa div li {
  list-style: square;
}
#tarifasPromos .horarios {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
  font-weight: bold;
  color: brown;
  margin-top: 50px;
}
#tarifasPromos .horarios div p {
  padding: 30px;
}
#tarifasPromos .tituloPromo {
  line-height: 1.5em;
  font-size: 2.5em;
  text-align: center;
  color: red;
  margin-top: 54px;
  margin-bottom: 20px;
}
#tarifasPromos .promociones {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#tarifasPromos .promociones div {
  border-bottom: 1px solid black;
  margin-bottom: 80px;
}
#tarifasPromos .promociones div h4 {
  line-height: 1.1em;
  font-size: 1.1em;
  margin-bottom: 35px;
}
#tarifasPromos .promociones div span {
  color: red;
  font-weight: bold;
}
#tarifasPromos .promociones .aprovecha h4 {
  color: red;
  text-align: center;
}

/****INDEX TABLET ****/
@media (max-width: 768px) {
  .imagenes {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .imagenes img {
    height: 400px;
    width: 90%;
  }
  .cabaña1 {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .cabaña1 img {
    height: 400px;
    width: 90%;
  }
  .cabaña1 .descripcionCabaña p {
    text-align: center;
    padding: 20px;
    width: 90%;
  }
  .cabaña2 {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  .cabaña2 img {
    height: auto;
    width: 90%;
  }
  .cabaña2 .descripcionCabaña p {
    text-align: center;
    padding: 20px;
    width: 90%;
  }
  .Nosotros img {
    object-fit: cover;
  }
  .enlacesEscritorio {
    display: none;
  }
  .navbar {
    display: initial;
  }
}
/**** INDEX MOBILE ****/
@media screen and (max-width: 480px) {
  .imagenes {
    flex-direction: column;
    align-items: center;
  }
  .imagenes img {
    height: 300px;
    width: 90%;
  }
  .video iframe {
    width: 90%;
  }
  .Nosotros img {
    height: 500px;
  }
  .Nosotros img {
    object-fit: cover;
  }
  .cabaña1 {
    flex-direction: column;
    align-items: center;
  }
  .cabaña1 img {
    height: 300px;
    width: 90%;
  }
  .cabaña1 p {
    width: 90%;
  }
  .cabaña2 {
    flex-direction: column;
    align-items: center;
  }
  .cabaña2 img {
    height: 300px;
    width: 90%;
  }
  .cabaña2 p {
    width: 90%;
  }
  .footer {
    flex-direction: column;
  }
}
/****HABITACIONES TABLET****/
@media screen and (max-width: 768px) {
  .suiteMatrimonial {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  .suiteMatrimonial img {
    height: 450px;
    width: 85%;
    border-bottom: 10px solid darkred;
  }
  .suiteMatrimonial .suiteInfo {
    padding-left: 60px;
    padding-bottom: 20px;
    padding-right: 60px;
    padding-top: 0px;
    width: 90%;
  }
  .servicios {
    flex-direction: column;
    align-items: flex-start;
  }
}
/**** HABITACIONES MOBILE ****/
@media screen and (max-width: 480px) {
  .suiteMatrimonial {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px;
  }
  .suiteMatrimonial img {
    height: 350px;
    width: 100%;
    border-bottom: 10px solid darkred;
  }
  .suiteMatrimonial .suiteInfo {
    flex-direction: column;
    padding-left: 60px;
    padding-bottom: 60px;
    padding-right: 60px;
    padding-top: 0px;
    width: 90%;
  }
  .NOTA {
    margin-top: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
