* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: lighter;
    text-decoration: none;
    list-style-type: none;
    background-color: rgb(206, 183, 148);
    color: black;
}


/*** HEADER ***/
header {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.barraNavegacion {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.barraNavegacion img {
    width: 100px;
}
header h1 {
    font-size: 45px;
    color: antiquewhite;
}
.enlaces {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}
.enlaces li {
    display:flex;
    margin: 0 20px;
    font-weight: 700;
}
.enlaces a {
    text-decoration: none;
    color: antiquewhite;
}
.enlaces a:hover {
    color: brown
}


/****** MAIN INDEX ******/
section {
    color: black;
}
.portada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portada h3 {
    text-align: center;
    padding: 5px;
}
.Mox {
    text-align: center;
}
.portada p {
    padding: 5px;
}
.video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 15px;
}
.video iframe {
    height: 450px;
    width: 75%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.imagenes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.tafi {
    height: 450px;
    width: 50%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.Nosotros {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Nosotros h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}
.Nosotros p {
    text-align: center;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.Nosotros img{
    width: 97%;
    height: 750px;
    padding-left: 10px;
    padding-right: 10px;
}
.cabaña1 {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.cabaña1 p {
    width: 50%;
    padding: 10px;
}
.cabaña1 img {
    padding: 10px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.cabaña2 {
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.cabaña2 p{
    width: 50%;
    padding: 10px;
}
.cabaña2 img {
    padding: 10px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


/**** CONTACTO ****/
 #gridContanto {
    display: grid;
    grid-template-areas: 
    "header   header    header"
    "seccion1 seccion1  aside"
    "seccion2 seccion2  aside"
    "footer   footer    footer";
    min-height: 100vh;
    grid-template-columns: 70% 1fr 1fr;
 }
 header {
    grid-area: header;
 }
 #seccion1 {
    grid-area: seccion1;
 }
 #seccion2 {
    grid-area: seccion2;
 }
 .llegar {
    display:flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
 }
 .aside {
    grid-area: aside;
 }
 .asideContacto {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
 }
 .asideImage {
    width: 250px;
    height: 200px;
    padding: 5px 0px;
    margin-right: 5px;
 }
 footer {
    grid-area: footer;
 }
 

/**** HABITACIONES****/
.Habitaciones {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}
.Habitaciones h2 {
    line-height: 1.5em;
    font-size: 3em;
}
.Habitaciones p {
    line-height: 1.5em;
    font-size: 1.5em;
}
.suite {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
}
.suiteMatrimonial{
    display:flex;
    align-items: start;
    flex-direction: row-reverse;
    border: 3px solid rgba(220, 20, 60, 0.522);
}
.suiteInfo {
    padding: 45px;
    margin-top: 30px;
}
.suiteInfo h2 {
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}
.suiteInfo p {
    margin-bottom: 25px;
}


/**** UBICACION ****/
.map {
    margin: 0px;
    padding: 15px;
}
.map h3 {
    text-align: center;
}


/**** FOOTER ****/
footer {
    background-color: black;
    color: antiquewhite;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 0;
}
.footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__info__link {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
    margin: 10px;
}
.footer__info img {
    width: 50px;
}

@media (max-width: 768px) {
    .imagenes {
        flex-direction: column;
        align-items: center;
    }
    .tafi {
        height: 400px;
        width: 100%;
    }
    .cabaña1 {
        flex-direction: column;
        align-items: center;
    }
    .cabaña1 img {
        height: 400px;
        width: 100%;
    }
    .cabaña1 p {
        width: 100%;
    }
    .cabaña2 {
        flex-direction: column;
        align-items: center;
    }
    .cabaña2 img {
        height: 400px;
        width: 100%;
    }
    .cabaña2 p {
        width: 100%;
    }
    .Nosotros img {
        object-fit: cover;
    }
} 

@media screen and (max-width: 480px) {
    .imagenes {
        flex-direction: column;
        align-items: center;
    }
    .tafi {
        height: 300px;
        width: 100%;
    }
    .video iframe {
        width: 100%;
    }
    .Nosotros img {
        height: 500px;
    }
    .cabaña1 {
        flex-direction: column;
        align-items: center;
    }
    .cabaña1 img {
        height: 300px;
        width: 100%;
    }
    .cabaña1 p {
        width: 100%;
    }
    .cabaña2 {
        flex-direction: column;
        align-items: center;
    }
    .cabaña2 img {
        height: 300px;
        width: 100%;
    }
    .cabaña2 p {
        width: 100%;
    }
    .Nosotros img {
        object-fit: cover;
    }
    .footer {
        flex-direction: column;
    }
    
}

