* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    font-weight: lighter;
    background-color: burlywood;
    text-decoration: none;
}


/*** HEADER ***/
header {
    background-color: goldenrod;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.barraNavegacion {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.barraNavegacion img {
    width: 100px;
}
header h1 {
    font-size: 45px;
    color: antiquewhite;
}
.enlaces {
    display:flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
}
.enlaces li {
    display:flex;
    margin: 0 20px;
    font-weight: 700;
}
.enlaces a {
    display: flex;
    text-decoration: none;
    color: antiquewhite;
}
.enlaces a:hover {
    color: brown
}


/****** MAIN INDEX ******/
section {
    background-color: rgba(159, 18, 18, 0.755);
}
.portada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
}
.portada h3 {
    display: flex;
    text-align: center;
    padding: 5px;
}
.Mox {
    display: flex;
    text-align: center;
}
.portada p {
    padding: 5px;
}
.video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 15px;
}
.video iframe {
    display: flex;
    align-content: center;
    height: 400px;
    width: 75%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.imagenes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.tafi1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.tafi2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}


/****** NOSOTROS ******/
.Nosotros {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: antiquewhite;
}
.Nosotros h3 {
    display:flex;
    margin-bottom: 10px;
    margin-top: 10px;

}
.Nosotros p {
    display:flex;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.Nosotros img{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 97%;
    height: 750px;
    padding-left: 10px;
    padding-right: 10px;
}
.cabaña1 {
    display:flex;
    align-items: flex-start;
    width: 100%;
    color: antiquewhite;
}
.cabaña1 p {
    display:flex;
    width: 50%;
    padding: 10px;
}
.cabaña1 img {
    display:flex;
    padding: 10px;
    width: 50%;
}
.cabaña2 {
    display:flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    color: antiquewhite;
}
.cabaña2 p{
    display:flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
}
.cabaña2 img {
    display:flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
}


/**** CONTACTO ****/

#formulario {
    margin: 0px;
    padding: 15px;
}


/**** ACTIVIDADES ****/


/**** UBICACION ****/
.map {
    margin: 0px;
    padding: 15px;
}
.map h3 {
    text-align: center;
}


/**** FOOTER ****/
footer {
    background-color: rgba(75, 75, 75, 0.599);
    color: antiquewhite;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 0;
}
.footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__info__link {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
    margin: 10px;
}
.footer__info img {
    width: 50px;
}