.actividadesEntorno {

    .tituloActividades {
        border: 1px solid brown;
        background-color: burlywood;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .actividades {
        padding: 10px;

        .card {
            background-color: burlywood;

            img {
                height: 300px;
            }
        }
    }
    .entorno {
        padding: 10px;

        .card img {
            height: 400px;
            object-fit: cover;
        }
    }

}
