.row {
   margin-bottom: 25px;
}
.mapaUbicacion {

   display:flex;
   height: 100%;
   width: 100%;
   justify-content: space-between;
   align-items: flex-start;
   flex-wrap: wrap;
   margin-top: 25px;
   margin-bottom: 25px;

   .llegar {
      align-items: center;
      justify-content: center;
      width: 50%;

      iframe{
         border-radius: 10px;
         height: 825px;
     }
   }
   .estamos{
      width: 50%;
   }
}

