.mobile {
    display:none
}
.Habitaciones {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;

    h2 {
        line-height: 1.5em;
        font-size: 2.5em;
    }
    p {
        line-height: 1.3em;
        font-size: 1.3em;
    }
}
.suite {
    
    margin: 20px;

    .suiteMatrimonial{
        display:flex;
        flex-direction: row-reverse;
        width: 100%;
        padding-bottom: 25px;

        img {
            width: 50%;
        }
    }
    .suiteInfo {
        padding: 45px;
        margin-top: 50px;
        width: 50%;

        h4 {
            font-size: 1.5em;
            border-bottom: 1px solid black;
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 25px;
        }
        a {
            font-weight: 900;
            text-decoration: none;
            list-style: none;
            color: black;
            border-bottom: 1px solid gray;

            &:hover {
                color: brown;
            }
        }
    }
}

.NOTA {
    border: 5px solid darkred;
    font-weight: bolder;
    margin-top: 35px;
}
.tituloServicio {
    line-height: 1.5em;
    font-size: 2.5em;
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}
.servicios {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .serviciosIncluidos {
        display:flex;
        flex-direction: column;
        list-style: square;
        margin-bottom: 10px;

        p {
            font-weight: bolder;
        }
    }
}