body {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: lighter;
    text-decoration: none;
    list-style-type: none;
    background-color: rgb(255, 218, 172);
    color: $colorPrimario;
}